<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{url_for('static', filename='output.css')}}">
</head>
<body class="dark:bg-linear-[45deg,_#090e14,_#112339,_#0d131f,_#090e14] bg-linear-[45deg,_#E3F2FD,_#BBDEFB,_#90CAF9,_#64B5F6] bg-(length:--bg-size) animate-background">
    <header>
        <ul
            class="w-full h-16 flex items-center justify-between bg-primary/20 text-white backdrop-blur-lg fixed top-0 z-10">
            <li class="ml-10 cascadia flex items-center"><img src="{{url_for('static',filename='img/logo-dino.svg')}}"
                    alt=""><a href="/" class="pl-2">Icone</a></li>
            <div class="flex items-center justify-between w-72 mr-32">
                <li class=""><a href="/" class=" hover:bg-secundary/90  hover:backdrop-blur-3xl transition-all mx-3 p-4 rounded cascadia whitespace-nowrap">All games</a>
                </li>
                <li class="">
                </li>
                <li class=""><a href="/login" class="hover:bg-secundary/90  hover:backdrop-blur-3xl transition-all p-4  mx-3 rounded cascadia whitespace-nowrap"> <- come back</a>
                </li>
            </div>
        </ul>
    </header>
    <main>
        <div class="w-4/5 h-4/5  mx-auto mt-10 p-10 ">
         <div class="w-full h-auto flex items-center justify-evenly">
            <a href="/dashboard" class="w-auto h-auto p-3 dark:bg-sky-700 rounded-lg dark:text-white cascadia"> <- Volver</a>
            <h1 class="text-center text-2xl font-bold text-white cascadia">Busca tu juego favorito</h1>
            <a href="/dashboard/categorias/nuevo" class="w-auto h-auto p-3 bg-emerald-400 active:translate-y-1 transition-all rounded-sm text-gray-950 text-lg cascadia"  >Agrega Juego</a>
         </div>   

        <input type="text" id="search" placeholder="Buscar juegos..." class=" border p-2 w-full mt-4 rounded-lg text-white cascadia outline-0 placeholder:text-white/50 ">

        <div id="juegos-container" class="grid grid-cols-3 gap-4 mt-4">
            {% for juego in juegos %}
            <div class="juego-card  border rounded-lg" data-genre="{{ juego.genre }}">
                <img src="{{ juego.image_url  }}" alt="{{ juego.name }}" class="w-full h-40 object-fill">
                <h2 class="text-xl font-semibold mt-2 text-white cascadia">{{ juego.name }}</h2>
                <p class="">{{ juego.genre }}</p>
                <p class="text-yellow-500 font-bold">Comprar por: ${{ juego.price }}</p>
            </div>
            {% endfor %}
            
        </div>
        </div>
    </main>
    <footer class="mt-6 text-center text-gray-500 text-sm cascadia">
        © 2025 TuEmpresa. Todos los derechos reservados.
        <br><a href="/terminos" class="text-blue-500 hover:underline cascadia ">Términos y condiciones</a> |
        <a href="/privacidad" class="text-blue-500 hover:underline cascadia ">Política de privacidad</a>
    </footer>   
</body>
<script src="{{url_for('static', filename='js/main.js')}}"></script>
</html>