<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{url_for('static', filename='output.css')}}">
    <link rel="shortcut icon" href="{{url_for('static', filename='img/logo-dino.svg')}}" type="image/x-icon">
</head>
<body class="animate-background">
    <header>
        <ul
            class="w-full h-16 flex items-center justify-between bg-primary/20 text-white backdrop-blur-lg fixed top-0 z-10">
            <li class="ml-10 cascadia flex items-center"><img src="{{url_for('static',filename='img/logo-dino.svg')}}"
                    alt=""><a href="/" class="pl-2">Icone</a></li>
            <div class="flex items-center justify-between w-72 mr-10">
                <li class=""><a href="/" class="hover:bg-secundary transition-all p-3 rounded cascadia">About us</a>
                </li>
                <li class=""><a href="#juegos" class="hover:bg-secundary transition-all p-3 rounded cascadia">Juegos</a>
                </li>
                <li class=""><a href="/login" class="hover:bg-secundary transition-all p-3 rounded cascadia">Log out</a>
                </li>
            </div>
        </ul>
    </header>
    <!-- Parte principal de la web -->
    <main>
        <h1>Bienvenido a Dino</h1>
        <div class="w-full h-[90%] bg-transparent grid grid-cols-4 grid-rows-6 gap-4 mt-20 place-items-center">
            
            <div class="col-span-2 row-span-2 w-4/5 h-[400px] bg-secundary/90 flex flex-col rounded-lg">
                <div class="w-full h-[280px]">
                    <img src="" alt="" class="aspect-auto">
                </div>
                <h3 class="text-skin text-2xl text-center cascadia">Empleados</h3>
                <a  class="w-1/3 p-2 mt-2 bg-primary border-sky-400 text-white/80 mx-auto text-center rounded-sm " >Entrar</a>
            </div>
            <div class="col-span-2 row-span-2 w-4/5 h-[400px] bg-secundary/90 flex flex-col rounded-lg ">
                <div class="w-full h-[280px]">
                    <img src="" alt="" class="aspect-auto">
                </div>
                <h3 class="text-skin text-2xl text-center cascadia">Empleados</h3>
                <a  class="w-1/3 p-2 mt-2 bg-primary border-sky-400 text-white/80 mx-auto text-center rounded-sm " >Entrar</a>
            </div>
            <div class="col-span-2 row-span-2 w-4/5 h-[400px] bg-secundary/90 flex flex-col rounded-lg">
                <div class="w-full h-[280px]">
                    <img src="" alt="" class="aspect-auto">
                </div>
                <h3 class="text-skin text-2xl text-center cascadia">Empleados</h3>
                <a  class="w-1/3 p-2 mt-2 bg-primary border-sky-400 text-white/80 mx-auto text-center rounded-sm " >Entrar</a>
            </div>
            <div class="col-span-2 row-span-2 w-4/5 h-[400px] bg-secundary/90 flex flex-col rounded-lg">
                <div class="w-full h-[280px]">
                    <img src="" alt="" class="aspect-auto">
                </div>
                <h3 class="text-skin text-2xl text-center cascadia">Empleados</h3>
                <a  class="w-1/3 p-2 mt-2 bg-primary border-sky-400 text-white/80 mx-auto text-center rounded-sm " >Entrar</a>
            </div>
            <div class="col-span-2 row-span-2 w-4/5 h-[400px] bg-secundary/90 flex flex-col rounded-lg ">
                <div class="w-full h-[280px]">
                    <img src="" alt="" class="aspect-auto">
                </div>
                <h3 class="text-skin text-2xl text-center cascadia">Empleados</h3>
                <a  class="w-1/3 p-2 mt-2 bg-primary border-sky-400 text-white/80 mx-auto text-center rounded-sm " >Entrar</a>
            </div>
            <div class="col-span-2 row-span-2 w-4/5 h-[400px] bg-secundary/90 flex flex-col rounded-lg">
                <div class="w-full h-[280px]">
                    <img src="" alt="" class="aspect-auto">
                </div>
                <h3 class="text-skin text-2xl text-center cascadia">Empleados</h3>
                <a  class="w-1/3 p-2 mt-2 bg-primary border-sky-400 text-white/80 mx-auto text-center rounded-sm " >Entrar</a>
            </div>
        </div>
    </main>
    <footer class="mt-6 text-center text-gray-500 text-sm cascadia">
        © 2025 TuEmpresa. Todos los derechos reservados.
        <br><a href="/terminos" class="text-blue-500 hover:underline cascadia ">Términos y condiciones</a> |
        <a href="/privacidad" class="text-blue-500 hover:underline cascadia ">Política de privacidad</a>
    </footer>
</body>
</html>