<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{url_for('static', filename='output.css')}}">
    <link rel="shortcut icon" href="{{url_for('static', filename='img/logo-dino.svg')}}" type="image/x-icon">
</head>
<body class="animate-background">
    <header>
        <ul
            class="w-full h-16 flex items-center justify-between bg-primary/20 text-white backdrop-blur-lg fixed top-0 z-10">
            <li class="ml-10 cascadia flex items-center"><img src="{{url_for('static',filename='img/logo-dino.svg')}}"
                    alt=""><a href="/" class="pl-2">Icone</a></li>
            <div class="flex items-center justify-between w-72 mr-10">
                <li class=""><a href="/" class="hover:bg-secundary transition-all p-3 rounded cascadia">About us</a>
                </li>
                <li class=""><a href="#juegos" class="hover:bg-secundary transition-all p-3 rounded cascadia">Juegos</a>
                </li>
                <li class=""><a href="/login" class="hover:bg-secundary transition-all p-3 rounded cascadia">Log out</a>
                </li>
            </div>
        </ul>
    </header>
    <!-- Parte principal de la web -->
    <main>
        <div class="w-full flex items-center justify-center flex-col  ">
            <h1 class="w-full text-5xl mt-32 font-bold text-skin/90 text-center cascadia ">Bienvenido</h1>
            <h2 class="text-4xl text-skin/95 font-bold cascadia">a</h2>
            <h2 class="text-4xl text-skin/90 font-bold cascadia"">Dino Game</h2>
        </div>
        
        <div class="  w-full h-[90%] bg-transparent grid grid-cols-4 grid-rows-6 gap-4 mt-20 place-items-center">
            <div class="group col-span-2 row-span-2 w-4/5 h-[400px] hover:animate-none  animate-rotate-border rounded-lg bg-conic/[from_var(--border-angle)] from-transparent to-cyan-800 to-100% hover:p-0  p-[1px] transition-all duration-75">
                <div class=" w-full h-full bg-secundary flex flex-col rounded-lg ">
                    <div class="w-full h-[280px] p-4 "> 
                        <img src="/static/img/imgprueba.jpg" alt="" class="object-cover w-full h-full rounded-lg grayscale group-hover:grayscale-0  transition-all ">
                    </div>
                    <h3 class="text-skin text-2xl text-center cascadia">Empleados</h3>
                    <a  class=" group-hover:animate-rotate-border w-1/3 rounded-lg bg-conic/[from_var(--border-angle)] from-transparent to-cyan-500 to-100%   p-0 group-hover:p-[1px] active:translate-y-1 transition-all  text-white/80 mx-auto text-center duration-75" ><div class="py-2 rounded-lg bg-neutral-900 text-white text-center ">Entrar</div></a>
                </div>
            </div>
            
            <div class="group col-span-2 row-span-2 w-4/5 h-[400px] hover:animate-none  animate-rotate-border rounded-lg bg-conic/[from_var(--border-angle)] from-transparent to-cyan-800 to-100% hover:p-0  p-[1px] transition-all duration-75">
                <div class=" w-full h-full bg-secundary flex flex-col rounded-lg ">
                    <div class="w-full h-[280px] p-4 "> 
                        <img src="/static/img/imgprueba.jpg" alt="" class="object-cover w-full h-full rounded-lg grayscale group-hover:grayscale-0  transition-all ">
                    </div>
                    <h3 class="text-skin text-2xl text-center cascadia">Empleados</h3>
                    <a  class=" group-hover:animate-rotate-border w-1/3 rounded-lg bg-conic/[from_var(--border-angle)] from-transparent to-cyan-500 to-100%   p-0 group-hover:p-[1px] active:translate-y-1 transition-all  text-white/80 mx-auto text-center duration-75" ><div class="py-2 rounded-lg bg-neutral-900 text-white text-center ">Entrar</div></a>
                </div>
            </div>
            <div class="group col-span-2 row-span-2 w-4/5 h-[400px] hover:animate-none  animate-rotate-border rounded-lg bg-conic/[from_var(--border-angle)] from-transparent to-cyan-800 to-100% hover:p-0  p-[1px] transition-all duration-75">
                <div class=" w-full h-full bg-secundary flex flex-col rounded-lg ">
                    <div class="w-full h-[280px] p-4 "> 
                        <img src="/static/img/imgprueba.jpg" alt="" class="object-cover w-full h-full rounded-lg grayscale group-hover:grayscale-0  transition-all ">
                    </div>
                    <h3 class="text-skin text-2xl text-center cascadia">Empleados</h3>
                    <a  class=" group-hover:animate-rotate-border w-1/3 rounded-lg bg-conic/[from_var(--border-angle)] from-transparent to-cyan-500 to-100%   p-0 group-hover:p-[1px] active:translate-y-1 transition-all  text-white/80 mx-auto text-center duration-75" ><div class="py-2 rounded-lg bg-neutral-900 text-white text-center ">Entrar</div></a>
                </div>
            </div>
            <div class="group col-span-2 row-span-2 w-4/5 h-[400px] hover:animate-none  animate-rotate-border rounded-lg bg-conic/[from_var(--border-angle)] from-transparent to-cyan-800 to-100% hover:p-0  p-[1px] transition-all duration-75">
                <div class=" w-full h-full bg-secundary flex flex-col rounded-lg ">
                    <div class="w-full h-[280px] p-4 "> 
                        <img src="/static/img/imgprueba.jpg" alt="" class="object-cover w-full h-full rounded-lg grayscale group-hover:grayscale-0  transition-all ">
                    </div>
                    <h3 class="text-skin text-2xl text-center cascadia">Empleados</h3>
                    <a  class=" group-hover:animate-rotate-border w-1/3 rounded-lg bg-conic/[from_var(--border-angle)] from-transparent to-cyan-500 to-100%   p-0 group-hover:p-[1px] active:translate-y-1 transition-all  text-white/80 mx-auto text-center duration-75" ><div class="py-2 rounded-lg bg-neutral-900 text-white text-center ">Entrar</div></a>
                </div>
            </div>
        </div>
    </main>
    <footer class="mt-6 text-center text-gray-500 text-sm cascadia">
        © 2025 TuEmpresa. Todos los derechos reservados.
        <br><a href="/terminos" class="text-blue-500 hover:underline cascadia ">Términos y condiciones</a> |
        <a href="/privacidad" class="text-blue-500 hover:underline cascadia ">Política de privacidad</a>
    </footer>
</body>
</html>