<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <ul class="w-full h-16 flex items-center justify-between bg-primary/20 text-white backdrop-blur-lg fixed top-0 z-10">
            <li class="ml-10 cascadia flex items-center"><img src="Public/logo.svg" alt=""><a href="/" class="pl-2">Dino</a></li>
            <div class="flex items-center justify-between w-72 mr-10">
                <li class="hover:bg-secundary transition-all p-3 rounded"><a href="/">About us</a></li>
                <li class="hover:bg-secundary transition-all p-3 rounded"><a href="/">Juegos</a></li>
                <li class="hover:bg-secundary transition-all p-3 rounded"><a href="/"></a></li>
            </div>
        </ul>
    </header>
</body>
</html>