<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='output.css')}}">
</head>

<body class="animate-background ">

    <main>
        <form action="" method="POST">
            <div class="w-full h-screen flex flex-col items-center justify-center">
                <div class="  sm:w-3/6 sm:h-[580px] h-[650px] w-[550px] lg:w-[660px] md:w-[750px] bg-secundary/70 backdrop-blur-2xl rounded-2xl flex flex-col items-center justify-evenly m-auto shadow-amber-50 ">
                    <img src="/static/img/logo-dino.svg" alt="" class="w-[150px] h-[150px] rounded-full z-10" />
                    <p class="cascadia text-2xl text-white text-center my-1">Inicia sesión</p>
                    
                    <div class="w-3/5 h-auto flex flex-col items-center justify-center ">
                        <label for="" class="cascadia text-lg self-start text-white/70 my-1.5">Nombre</label>
                        <input type="text" placeholder="Nombre" name="username"
                            class="w-full border-white/50 text-white border-2 rounded-lg pl-1 outline-0 h-10 cascadia" required
                            id="nombre">
                        <label for="" class="cascadia text-lg self-start text-white/70 my-1.5">Contraseña</label>
                        <input type="password" name="password" placeholder="Introduzca su contraseña"
                            class="w-full border-white/50 text-white pl-1  border-2 rounded-lg outline-0 h-10 cascadia" required
                            id="contraseña">
                            
                        <button  type="submit" class="bg-primary text-white px-4 py-2 mt-4 rounded-lg text-center active:translate-y-1 w-60 cascadia transition-all">Enviar</button>
                    </div>
                        <p class="text-sm text-white/50 text-center mt-2 cascadia">
                            Ingresa tus credenciales para acceder a tu cuenta.  
                            <br>¿Aún no tienes una cuenta? <a href="/register" class="text-white cascadia hover:underline">Regístrate aquí</a>.  
                            <br>¿Olvidaste tu contraseña? <a href="/recover" class="text-white cascadia hover:underline">Recupérala aquí</a>.
                        </p>
                    </div>
                </div>
            </div>
        </form>
    </main>


</body>

</html>