<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="{{url_for('static',filename='output.css')}}">
</head>
<body class="animate-background">
    <main>
        <div class="w-full h-screen  flex justify-center items-center">
            <form action="" class="w-4/5 h-[550px] bg-secundary/30 flex flex-col items-center rounded-3xl backdrop-blur-2xl">
                <div class="grid grid-cols-6 grid-rows-5 gap-3">
                    <div class="col-span-6 row-span-2">
                        <a href="/index" class="cascadia w-full self-start pt-2 pl-3 text-2xl text-white/50 hover:underline transition-all"><- </a>
                        <div class="rounded-full w-32 h-32 mt-5">
                            <img src="/static/img/logo-dino.svg" alt="" class="object-cover w-full h-full">
                        </div>
                        <p class="w-full h-20 text-2xl cascadia text-center text-white my-1">Registrate</p>
                    </div>
                    <div class="col-span-3 row-span-3 row-start-3">3</div>
                    <div class="col-span-3 row-span-3 col-start-4 row-start-3">4</div>
                </div>
            </form>
        </div>
    </main>
</body>
</html>