<!DOCTYPE html>
<html lang="es" class="dark">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{url_for('static', filename='output.css')}}">
    <link rel="shortcut icon" href="{{url_for('static', filename='img/logo-dino.svg')}}" type="image/x-icon">
</head>
<body class="w-full h-screen  dark:bg-linear-[45deg,_#090e14,_#112339,_#0d131f,_#090e14] bg-linear-[45deg,_#E3F2FD,_#BBDEFB,_#90CAF9,_#64B5F6] bg-(length:--bg-size) animate-background">
    
    <!-- Parte principal de la web -->
    <main>
        <!-- Botón para abrir el modal -->
          <button id="openModal" class="bg-blue-500 text-white px-4 py-2 rounded">Abrir Modal</button>
              
          <!-- Modal -->
          <div id="myModal" class="fixed inset-0 bg-gray-500 bg-opacity-50 hidden">
            <div class="flex justify-center items-center h-full">
              <div class="bg-white p-6 rounded-lg w-1/3">
                <h2 class="text-xl font-semibold mb-4">Título del Modal</h2>
                <p class="mb-4">Contenido del modal...</p>
                <button id="closeModal" class="bg-red-500 text-white px-4 py-2 rounded">Cerrar</button>
              </div>
            </div>
          </div>

    </main>
    <script src="{{url_for('static', filename='js/test.js')}}"></script>
    <footer class="mt-6 text-center text-gray-500 text-sm cascadia h-10">
        © 2025 TuEmpresa. Todos los derechos reservados.
        <br><a href="/terminos" class="text-blue-500 hover:underline cascadia ">Términos y condiciones</a> |
        <a href="/privacidad" class="text-blue-500 hover:underline cascadia ">Política de privacidad</a>
    </footer>
</body>
</html>